@use "../mixins";

$logoDelay: 1500ms;
$columns: 11;

@function native-random($min, $max) {
    @return #{"random(#{$min}, #{$max})"};
}

@mixin animate-icon($i) {
    animation-delay: #{200 + ($i * 100)}ms;
    animation-duration: 1000ms;
    animation-name: icons-out;
    transform-origin: center;
    animation-fill-mode: forwards;
}

@mixin animate-column($i) {
    animation-duration: 400ms;
    animation-name: column-out;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    // Not fully supported in all browsers. JS implementation
    // animation-delay: native-random($logoDelay + 0ms, $logoDelay + 200ms);
}

.intro {
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    @include mixins.responsive(
        (font-size: 2.5em),
        (font-size: 1.5em)
    );
    >.title {
        z-index: 4;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        animation-duration: 500ms;
        animation-name: fold-content;
        animation-timing-function: cubic-bezier(0.2, 0.73, 0.43, 1.03);
        animation-fill-mode: forwards;
        background-color: white;
        >* {
            white-space: nowrap;
        }
        >.icons {
            display: flex;
            >.icon {
                height: 10vmin;
                width: 10vmin;
                margin: 0.2em;
                transform: scale(0);
            }
            @for $i from 0 through 5 {
                >.icon-#{$i} {
                    @include animate-icon($i);
                }
            }
            >.react-icon {
                background-color: #1c3a53;
                padding: 1vmin;
                border-radius: 50%;
            }
            >.nodejs-icon {
                background-color: #d9f2df;
                padding: 1vmin;
                border-radius: 50%;
            }
            >.mongodb-icon {
                background-color: #dadada;
                padding: 0.1vmin;
                border-radius: 10%;
            }
        }

        @for $i from 0 through $columns {
            &.title-#{$i} {
                clip-path: inset(0% (100% - (($i + 1) * calc(100% / $columns))) 0% ($i * calc(100% / $columns)));
                @include animate-column($i);
            }
        }
    }
}

@keyframes column-out {
    0% {
        transform: translateY(0vh);
    }
    100% {
        transform: translateY(-100vh);
    }
}

@keyframes fold-out {
    0% {
        width: 100%;
    }
    100% {
        width: 0%;
    }
}

@keyframes icons-out {
    0% {
        transform: rotate(-40deg) scale(0);
    }
    20% {
        transform: rotate(0deg) scale(1);
    }
    60% {
        transform: rotate(30deg) scale(1);
    }
    100% {
        transform: rotate(-20deg) scale(1);
    }
}

@keyframes main-out {
    0% {
        left: 0vw;
    }
    30% {
        animation-timing-function: linear;
        left: -98vw;
    }
    70% {
        animation-timing-function: ease-in;
        left: -102vw;
    }
    100% {
        left: -250vw;
    }
}