@use "../../mixins";

.head {
    text-align: center;
    max-width: 33em;
    padding: 0 1em;
    margin: 2em 0;
    > .title {
        @include mixins.responsive(
            (font-size: 3em),
            (font-size: 2em),
            (font-size: 3em)
        );
        margin-bottom: 0.2em;
        font-weight: 600;
    }
    > .subtitle {
        font-size: 1em;
        color: var(--color-header-subtitle);
    }
}