.contact {
    width: 100%;
    background-color: var(--background-color-hobbies);
    padding: 0.3em 0.4em;
    font-size: 0.8em;
    border-bottom: 1px solid var(--color-project-border);
    font-style: italic;
    color: var(--color-text-contact);
    display: flex;
    flex-direction: row;
    .mailto {
        flex: 1;
        text-align: right;
        color: var(--color-text-contact);
    }
}