.portfolio {
    color: var(--color-text-portfolio);
    overflow: auto;
    width: 100%;
    /*> .personal {
        text-align: center;
        margin-bottom: 1.5em;
        font-size: 0.8em;
        padding: 0.6em 1em;
        font-style: italic;
        background-color: white;
        border-bottom-right-radius: 1em;
        border-bottom-left-radius: 1em;
        box-shadow: 0 2px 1px 0px #00000012;
    }*/
}