@use "../mixins";

.portfolio {
    background-color: var(--background-color-portfolio);
    color: var(--color-text-portfolio);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    height: 100%;
    width: 100%;
    /*> .personal {
        text-align: center;
        margin-bottom: 1.5em;
        font-size: 0.8em;
        padding: 0.6em 1em;
        font-style: italic;
        background-color: white;
        border-bottom-right-radius: 1em;
        border-bottom-left-radius: 1em;
        box-shadow: 0 2px 1px 0px #00000012;
    }*/
    > .head {
        text-align: center;
        max-width: 33em;
        padding: 0 1em;
        margin: 2em 0;
        > .title {
            font-size: 3em;
            margin-bottom: 0.2em;
            font-weight: 600;
        }
        > .subtitle {
            font-size: 1em;
            color: var(--color-header-subtitle);
        }
    }
    > .projects {
        max-width: 100em;
        width: 100vw;
        padding: 0 1em;
        display: flex;
        flex-direction: column;
        gap: 4em;
        margin-bottom: 4em;
        > .section {
            &.libraries {
                --color-section-icon-bg: var(--color-libraries-icon-bg);
                --color-section-icon: var(--color-libraries-icon);
                --color-section-title: var(--color-libraries-title);
            }
            &.tools {
                --color-section-icon-bg: var(--color-tools-icon-bg);
                --color-section-icon: var(--color-tools-icon);
                --color-section-title: var(--color-tools-title);
            }
            &.games {
                --color-section-icon-bg: var(--color-games-icon-bg);
                --color-section-icon: var(--color-games-icon);
                --color-section-title: var(--color-games-title);
            }
            &.extra {
                --color-section-icon-bg: var(--color-extra-icon-bg);
                --color-section-icon: var(--color-extra-icon);
                --color-section-title: var(--color-extra-title);
            }
            > .title {
                display: flex;
                align-items: center;
                gap: 0.8em;
                margin-bottom: 1em;
                > .icon {
                    height: 2.4em;
                    width: 2.4em;
                    padding: 0.4em;
                    background-color: var(--color-section-icon-bg);
                    color: var(--color-section-icon);
                    border-radius: 0.5em;
                }
                > .text {
                    flex: 1;
                    > .title {
                        color: var(--color-section-title);
                        font-size: 1.2em;
                        font-weight: 600;
                    }
                    > .subtitle {
                        color: var(--color-section-subtitle);
                        font-size: 0.8em;
                    }
                }
            }
            > .cards {
                display: grid;
                gap: 2em;
                &.columns-4 {
                    @include mixins.responsive(
                        (grid-template-columns: repeat(4, 1fr)),
                        (grid-template-columns: repeat(1, 1fr)),
                        (grid-template-columns: repeat(2, 1fr))
                    );
                }
                &.columns-3 {
                    @include mixins.responsive(
                        (grid-template-columns: repeat(3, 1fr)),
                        (grid-template-columns: repeat(1, 1fr)),
                        (grid-template-columns: repeat(2, 1fr))
                    );
                }
                &.columns-2 {
                    @include mixins.responsive(
                        (grid-template-columns: repeat(2, 1fr)),
                        (grid-template-columns: repeat(1, 1fr))
                    );
                }
                &.columns-1 {
                    grid-template-columns: repeat(2, 1fr);
                }
            }
        }
    }
}