.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: var(--background-color-projects);
    > .list {
        max-width: 100em;
        width: 100vw;
        padding: 0 1em;
        display: flex;
        flex-direction: column;
        gap: 4em;
        margin-bottom: 4em;
    }
}