@use "./mixins";

.main {
  font-family: "Varela Round", sans-serif;
  font-optical-sizing: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  opacity: 0;
  transition: opacity 400ms;
  @include mixins.responsive(
      (font-size: 18px),
      (font-size: 14px),
      (font-size: 18px)
  );
  cursor: default;
  user-select: none;
  &.show {
    opacity: 1;
  }
  * {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
  }
  &.dark {
    --background-color-projects: #111827;
    --background-color-hobbies: #1f2937;
    --color-text-portfolio: white;
    // libraries section
    --color-libraries-icon-bg: #2563eb;
    --color-libraries-icon: white;
    --color-libraries-title: #60a5fa;
    // tools section
    --color-tools-icon-bg: #16a34a;
    --color-tools-icon: white;
    --color-tools-title: #4ade80;
    // games section
    --color-games-icon-bg: #9333ea;
    --color-games-icon: white;
    --color-games-title: #c084fc;
    // extra section
    --color-extra-icon-bg: #ea580c;
    --color-extra-icon: white;
    --color-extra-title: #fb923c;

    --color-section-subtitle: #d8d8d8;
    --color-header-subtitle: var(--color-section-subtitle);
    --color-github: white;

    --color-project-description: var(--color-section-subtitle);
    --color-project-background: var(--background-color-hobbies);
    --color-project-border: #374151;
    --color-project-shadow: #0000000d;
    --color-project-link-background: #293546;

    --color-hobby-description: var(--color-section-subtitle);
    --color-hobby-background: var(--background-color-projects);
    --color-hobby-border: #374151;
    --color-hobby-shadow: #0000000d;
    --color-hobby-media-background: #1a2234;
    --color-hobby-icon-orange: #fb923c;
    --color-hobby-icon-purple: #818cf8;
    --color-hobby-icon-red: #de4949;
    --color-hobby-icon-yellow: #facc15;
    --color-hobby-icon-blue: #60a5fa;
    --color-hobby-icon-redish: #f87171;
    --color-hobby-icon-green: #4ade80;
    --color-hobby-icon-pink: #f472b6;
    --color-hobby-icon-greenish: #cefa15;

    --color-tag-background-nodejs: #193e32;
    --color-tag-nodejs: #86efac;
    --color-tag-background-zero-deps: #3b225f;
    --color-tag-zero-deps: #d8b4fe;
    --color-tag-background-typescript: #1e3160;
    --color-tag-typescript: #93c5fd;
    --color-tag-background-cpp: #282b5c;
    --color-tag-cpp: #a5b4fc;
    --color-tag-background-html5: #4d2b24;
    --color-tag-html5: #fdba74;
    --color-tag-background-rust: #4f232a;
    --color-tag-rust: #fca5a5;
    --color-tag-background-javascript: #282b5c;
    --color-tag-javascript: #a5b4fc;
    --color-tag-background-flash: #3b225f;
    --color-tag-flash: #d8b4fe;
    --color-tag-background-ruby: #4f232a;
    --color-tag-ruby: #fca5a5;
    --color-tag-background-unity: #1e3160;
    --color-tag-unity: #93c5fd;
    --color-tag-background-unreal-engine: #4d2b24;
    --color-tag-unreal-engine: #fdba74;
  }
}
.rotate-90 {
  transform: rotate(90deg);
}
.rotate-180 {
  transform: rotate(180deg);
}